* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 1600px;
}

.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* navigation bar and header styles */
.nav-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    top: 50px;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding: 18px 35px;
    border: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner {
    margin: 0px 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    width: 177px;
    height: 61px;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
}

.banner-title {
    width: 498px;
    height: 116px;
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
}

.banner-text {
    width: 585px;
    height: 60px;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1040px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* about section styles */

.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 140px 150px;
    text-align: center;
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
}

.section-description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .about-title {
    font-size: 20px;
    color: #757575;
}

.about-description {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

/* what i do styles */
.what-i-do-description {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 0px 150px 50px;
    text-align: center;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}

/* resume section */
.resume-container {
    display: flex;
    gap: 50px;
}
.resume-container hr {
    border: 1px solid #D1D1D1;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.resume-item {
    margin: 30px 0px;
}

.resume-item h4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-item h5 {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}
.resume-btn {
    text-align: center;
    margin-top: 20px;
}

.contact-continer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;;
}
.contact-item {
    max-width: 50%;
}
.contact-continer .section-title {
    text-align: left;
    margin-bottom: 20px;
}
.contact-item p {
    margin-bottom: 30px;
}
.contact-item a {
    margin-right: 25px;
    height: 24px;
    color: #FD6E0A;
}
.contact-continer input[type="text"], textarea {
    margin-bottom: 25px;
    border: 0;
    width: 100%;
    height: 64px;
}